{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    padding-top: 50px;
    border-bottom: solid 1px;
}

.faq{
    padding: 50px 250px;
}



.blue{
    color: blue;
    border-bottom: solid 1px;
}

ul>li{
    height: 30px;
    margin: 0 20px;
    float: left;
}
.horiz{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}




.clearfix::after{
    content: "";
    display: table;
    clear: both;  
}


